.app-container {
    min-width: 320px;
    max-width: 660px;
    height: auto;
    box-sizing: border-box;
    background-color: #C4C4C4;
    border-radius: 7px;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.searching-container {
    width: 100%;
    height: auto;
    padding-top: 10px;
}

.searching-container__input {
    width: 100%;
    line-height: 50px;
    font-size: 40px;
    color: black;
    padding: 5px 25px;
    box-sizing: border-box;
    border-radius: 20px;
}

.response-container {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 0;
    border-radius: 25px;
}

.response-container__item {
    width: 100%;
    border-bottom: 0.3px solid #8E8D8A;
    border-left: 0.3px solid #8E8D8A;
    border-right: 0.3px solid #8E8D8A;
    font-size: 30px;
    padding: 5px 25px;
    box-sizing: border-box;
}

.response-container__item:first-child {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-top: 0.3px solid #8E8D8A;
}

.response-container__item:last-child {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.response-container__item:hover {
    background-color: #65CDF9;
}

.repositories-container__wrapper {
    display: flex;
    flex-direction: column;
}

.repositories-container {
    width: 100%;
    height: auto;
    padding-top: 20px;
}

.repositories-container__item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    margin-top: 8px;
    padding: 10px 30px;
    color: black;
    background-color: white;
    border-radius: 15px;
    font-size: 24px;
}

.repositories-container__button:hover {
    transform: scale(1.05);
}

.repositories-container__button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-image: url('cross.png');
    background-size: cover;
}